{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["node 12", "last 2 chrome versions"]
        }
      }
    ],
    "@babel/preset-typescript",
    [
      "@babel/preset-react",
      {
        "runtime": "automatic"
      }
    ]
  ],
  "plugins": ["@babel/plugin-syntax-dynamic-import", "@emotion/babel-plugin"]
}
