.table{
    border-left: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
    border-right:none;
    border-bottom: none;
    border-spacing: 0px;
    width: 100%;
    min-height: 100px;
}

.table td{
    border: 1px solid #cccccc;
    border-left: none;
    border-top:none;
    height: 30px;
}