/* :root{
  --border-color: #cccccc;
  --odd-color: transparent;
} */

.bani .bani-table{
    /* border-left: 1px solid #cccccc;*/
    border-right:none;
    border-bottom: none;
    border-spacing: 0px;
    width: 100%;
    min-height: 100px;
}
.bani .tdActive {
  outline: 1px dotted #1e6fff !important;
}
/* tr:nth-child(odd){
  background-color: var(--odd-color);
} */

.bani .table__cell {
  padding: 8px 0;
  min-width: 0;
  box-sizing: border-box;
  text-overflow: ellipsis;
  vertical-align: middle;
  position: relative;
  text-align: left;
  z-index: 1;
}
/* .bani .table__cell.none{
   border-right: none;
   border-bottom: none;
} */
/* .table__cell.border{
   border-right: 1px solid var(--border-color);
   border-bottom: 1px solid var(--border-color);
} */
/* .table__cell.rowBorder{
  border-bottom:1px solid var(--border-color);
} */
/* .table-container{
  border-left: 1px solid var(--border-color);
  border-top: 1px solid var(--border-color);
} */
.table tr:nth-child(odd){
  background-color: var(--odd-color);
}

.bani .table__cell .cell {
  box-sizing: border-box;
  text-overflow: ellipsis;
  white-space: normal;
  word-break: break-all;
  line-height: 23px;
  padding: 0 12px;
}