.dmeditor-layout{
    height: 100vh;
    background-color: #f0f0f0;
    display: grid;
    grid-template-columns: auto 300px;
    color: #333333;
    margin: auto;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    box-shadow: 0px 0px 3px #cccccc;
}

.layout-properties{
    border-left: 1px solid #dddddd;
    overflow-y: scroll;
    overflow-x: hidden;
}

.layout-main{
    width: 900px;
    margin:auto;
    background: white;
    height: 100%;
}

.layout-main-container{
    height: 100%; 
    overflow-y: scroll;
}

[contenteditable='true'] {
    outline: 0px solid transparent;
  }
 
.block-active{
    outline: 1px solid #1ed45d;
    box-shadow: 0px 0px 4px #12913e;
}

a{
    text-decoration: none;
    color: #12913e
}

a:hover{
    color:#046726
}

hr{
    border-top: 1px solid #cccccc;
    border-bottom: none;
}