.dmeditor-layout{
    height: 100vh;
    background-color: #f0f0f0;
    display: grid;
    grid-template-columns: auto 300px;
    color: #333333;
}

.layout-properties{
    border: 1px solid #dddddd;
    overflow-y: scroll;
    overflow-x: hidden;
}

.layout-main{
    background: white;
    width: 900px;
    margin:10px auto;
    overflow-y: scroll;
}

/* .layout-main > div:first-child{
    margin-top: 50px;
} */

[contenteditable='true'] {
    outline: 0px solid transparent;
  }
 
.block-active{
    outline: 1px solid #1ed45d;
    box-shadow: 0px 0px 3px #12913e;
}

a{
    text-decoration: none;
    color: #12913e
}

a:hover{
    color:#046726
}

hr{
    border-top: 1px solid #cccccc;
    border-bottom: none;
}