.active{
    color: rgb(6, 6, 112);
    font-weight: bold;
    background-color: #dddddd;
}

.tab-header{
    cursor: pointer;
    padding: 8px;
}

.tab-header-container{
    display:grid;
    grid-template-columns:50% 50%;
    background: #f0f0f0;
    border-top:1px solid #cccccc;
    border-bottom: 1px solid #ebe2e2;
}

.tab-content{
    padding: 10px;
    color: #333333;    
}