.dmeditor-layout{
    height: 100vh;
    background-color: #f0f0f0;
    display: grid;
    grid-template-columns: 40px auto 300px;
    color: #333333;
    margin: auto;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    box-shadow: 0px 0px 3px #cccccc;
}

.layout-properties{
    border-left: 1px solid #dddddd;
    overflow-y: scroll;
    overflow-x: hidden;
    background: white;
    position: relative;
}

.layout-left{
    background-color: white;
    text-align: center;
    border-right: 1px solid #cccccc;
    position: relative;
}

.layout-main{
    margin:auto;
    background: white;
    min-height: 100vh;
}

.block-container{
  position: relative;
}

.layout-main.viewmode-pc, .layout-main.viewmode-edit{
    width: 900px;
}

.layout-main.viewmode-tablet{
    width: 768px;
}

.layout-main.viewmode-mobile{
    width: 375px;
}

.dmeditor .left-tool a{
    color: #666666;
    display: inline-block;
    padding: 5px 0px;
}

.dmeditor .left-tool a.current{
    color: green
}

.layout-main-container{
    height: 100%; 
    overflow-y: scroll;
}

[contenteditable='true'] {
    outline: 0px solid transparent;
  }
 
.block-active{
    outline: 1px solid #1ed45d;
    box-shadow: 0px 0px 4px #12913e;
}

.dmeditor a{
    text-decoration: none;
    color: #12913e;
    box-shadow: none!important;
}

.dmeditor a:hover{
    color:#046726
}

.dmeditor hr{
    border-top: 1px solid #cccccc;
    border-bottom: none;
}


.tool{
  position: absolute;
  left: 48%;
  z-index: 15;
}

.is-preview .tool{
  display: none;
}

.tool-above{
  top: -30px;
}

.tool-under{
  bottom: -30px;
}

.blockcontainer-horizontal{
  display: grid;
  grid-template-columns: auto auto;
}

.blockcontainer{
  outline: 1px solid rgba(0,0,0,0);
}

.viewmode-edit .block:hover, .viewmode-edit .active{
  outline: 1px solid #00721f;
  outline-offset: 3px;
}

.viewmode-edit .inblock .block:hover, .viewmode-edit .active.inblock{
  outline: 1px dashed #00721f;
  outline-offset: 1px;
}

.tab-active{
  color:green !important;
}

.blockcontainer:hover{
  outline: 1px dotted #333333;
}

.blockcontainer{
  margin: 0px;
}

.blockcontainer-align-center{
  text-align: center;
}

.blockcontainer-align-right{
  text-align: right;
}

.block-type-imagetext > .block-type-image{
  display: inline-block;
}

::selection {
  color:auto;
  background:#ccc;
}

::-moz-selection {
    color:auto;
    background:#ccc;
}


.block-type-text span{
  vertical-align: initial !important;
}

.pre-render{
  position: absolute;
  left:-105px;
}

.viewmode-edit .btn{
  user-select:inherit;
  -webkit-user-select:inherit;
} 

.image-caption{
  font-style: italic;
}

.dm-columns{
  display: grid;
}

.columns-2{
  grid-template-columns: 50% 50%;
}

.columns-3{
  grid-template-columns: 33.3% 33.3% 33.3%;
}

.columns-4{
  grid-template-columns: 25% 25% 25% 25%;
}

.columns-5{
  grid-template-columns: 20% 20% 20% 20% 20%;
}

.columns-6{
  grid-template-columns: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;
}

.menu-blocktype{
  font-size: 15px;
}